In [ ]:
Working with LIST datatypes

In [2]:
cars = ['kia', 'merc', 'honda','tata', 'nissan', 'bmw','audi']

In [ ]:
#req : list the elements in alphabetical order

In [ ]:
two approaches :
    
    1.temporary approach : sorted -----> we can maintain the original order of the elements in the list
    2. Permanent approach : sort ----->

In [3]:
print(sorted(cars))  #temporary approach

['audi', 'bmw', 'honda', 'kia', 'merc', 'nissan', 'tata']

In [4]:
print(cars)  #original order remains same

['kia', 'merc', 'honda', 'tata', 'nissan', 'bmw', 'audi']

In [5]:
cars.sort()

In [6]:
print(cars) #lost the original order

['audi', 'bmw', 'honda', 'kia', 'merc', 'nissan', 'tata']

In [ ]:
#print the list in the reverse alphabetical order

In [7]:
cars.reverse()

In [8]:
print(cars)

['tata', 'nissan', 'merc', 'kia', 'honda', 'bmw', 'audi']

In [ ]:
#req number of elements in the list

In [9]:
len(cars)

7

In [ ]:
INTRODUCTION TO SLICING :

In [10]:
students = ['akhil', 'chandra', 'sneha', 'david', 'ramesh','hemanth']

In [11]:
print(students)

['akhil', 'chandra', 'sneha', 'david', 'ramesh', 'hemanth']

In [12]:
type(students)

list

In [ ]:
general syntax of slicing

[startvalue : stopvalue : stepsize]  #stop vale is always exclusive, to make it inclusive need to increment the index by 1

In [ ]:
#req want akhil and chandra as output

In [14]:
students[0:2]

['akhil', 'chandra']

In [ ]:
#req: want sneha and david as output

In [15]:
students[2:4]

['sneha', 'david']

In [ ]:
#req:  want ramesh and hemanth as output

In [16]:
students[4:6]

['ramesh', 'hemanth']

In [17]:
students[4:]

['ramesh', 'hemanth']